[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
pillow = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework = "*"
djoser = "*"
psycopg = {extras = ["binary"], version = "*"}
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.12"
