[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
pillow = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework = "*"
djoser = "*"
psycopg = {extras = ["binary"] }
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
drf-nested-routers = "*"
flower = "*"
locust = "*"
django-silk = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"

[requires]
python_version = "3.12"
